/* Contact Info */
.contact-content {
    height: 50%;
    width: 100%;
    overflow: hidden;
    border: 1px solid darkred;
}

.contact-left {
    width: 50%;
    float: left;
}

.contact-right {
    width: 50%;
    float: right;
}

.contact-info {
    vertical-align: middle;
    text-align: justify;
    margin: 0 auto;
    width: 40%;
}

.contact-info > p, .contact-info > a {
    font: 20px 'Luta', sans-serif;
}

#map {
    margin-top: 5%;
}

/*
.banner-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
}
*/

.contact {
    background-size: cover;
    position: relative;
}

.contact-banner {
    background-image: url('../img/cafe6.jpg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    -webkit-filter: brightness(50%);
}